extends header 
block bodyContent
        h2.text-center cart List
        .justify-content-center.text-center
        if response[0]
            table.table
                thead
                    tr
                    th(scope='col') 
                    each data in Object.keys(response[0])
                        th(scope='col')=data
                tbody
                    each data in response
                        tr
                        th(scope='row')
                        each value in Object.values(data)
                            td=value
                        td  
                            button#productDelete.btn.btn-primary(data-product-id=`${data.id}`) delete
                        td 
                            button#productUpdate.btn-primary(href=`/product/${data.id}`, data-toggle='modal', data-target='#exampleModalLong2') Update
        else 
            h1 data not found
     


        