extend base
block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container.px-4.px-lg-5
            a.navbar-brand(href='#!') N&N Ecommere 
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-lg-0.ms-lg-4
                    li.nav-item
                        a.nav-link.active(aria-current='page' href='/') Home
                    li.nav-item
                        a.nav-link(href='/product') Product
                    li.nav-item
                        a.nav-link(href='/productcat') Product Category
                    li.nav-item
                        a.nav-link(href='/supplier') Supplier
                    li.nav-item
                        a.nav-link(href='/user') Users  
                    li.nav-item
                        a.nav-link(href='/cart') Cart      
                    li.nav-item
                        a.nav-link(href='/login') Sign In

                   
                form.d-flex
                    //- button.btn.btn-outline-dark(type='submit')
                    //-     i.bi-cart-fill.me-1 Cart
                    //-     span.badge.bg-dark.text-white.ms-1.rounded-pill 0
                    

    // Header
    
    block bodyContent
    // Footer
    footer.py-5.bg-primary(style={margin:"250px 0 0 0"})
        .container
            p.m-0.text-center.text-white Copyright &copy; Your Website 2022

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

    // Core theme JS
    script(src='js/scripts.js')
 

        // Navigation