extends base 
block content
        h2.text-center The Product List
        .login
                h1 Login
                form(action='/auth' method='post')
                        label(for='username')
                        // font awesome icon
                        i.fas.fa-user
                        input#username(type='text' name='username' placeholder='Username' required='')
                        label(for='password')
                        i.fas.fa-lock
                        input#password(type='password' name='password' placeholder='Password' required='')
                        input(type='submit' value='Login')

        