extends base 
block content
        h2.text-center The Product List
        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModalLong')
            | insert into tables
        //show supplier
        .justify-content-center.text-center
        if response[0]
            table.table
                thead
                    tr
                    th(scope='col') 
                    each data in Object.keys(response[0])
                        th(scope='col')=data
                tbody
                    each data in response
                        tr
                        th(scope='row')
                        each value in Object.values(data)
                            td=value
                        td  
                            button#productDelete.btn.btn-primary(data-product-id=`${data.id}`) delete
                        td 
                            button#productUpdate.btn-primary(href=`/product/${data.id}`, data-toggle='modal', data-target='#exampleModalLong2') Update
        else 
            h1 data not found


        //delete supplier
        #exampleModalLong1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLong1Title', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLong1Title.modal-title Modal title
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-body
                        form
                            .form-group
                                label(for='formGroupExampleInput') ID
                                input#formGroupExampleInput.form-control(type='text', placeholder='ID')
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes     
        
        
        //insert into supplier
        #exampleModalLong.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLongTitle.modal-title Modal title
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-body
                        form
                            .row
                                .col
                                    label(for='inputEmail4') name
                                    input.form-control(type='text' placeholder='name')
                                .form-row
                                .form-group.col-md-6
                                    label(for='inputEmail4') quantity
                                    input#inputEmail4.form-control(type='quantity' placeholder='quantity')
                            .form-group
                                label(for='inputAddress') Address
                                input#inputAddress.form-control(type='text' placeholder='lamachaur')
                            label(for='phone') Enter a phone number:
                            br
                            br
                            input#phone(type='tel' name='phone' placeholder='9847635885')
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal')
                        | Close
                        button.btn.btn-primary(type='button') Save changes
        